<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Horizon{% endblock %}</title>
        <!-- My project uses Tailwind CSS -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
        <!-- Mapbox to display maps on project pages -->
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />  
        <!-- Chart.js to display plots -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body class="bg-gray-100 pb-10">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="container mx-auto fixed top-4 right-4 z-50">
                    {% for category, message in messages %}
                        <div class="flash-message bg-{{ category }}-200 p-4 rounded mb-4 text-{{ category }}-800 transition-opacity">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <header class="bg-gray-900 text-white py-4 sticky top-0 z-50">
            <div class="container mx-auto px-4">
                <div class="flex justify-between items-center">
                    <a href="/dashboard">
                        <h1 class="text-2xl">Horizon</h1>
                    </a>
                    <nav class="hidden md:flex space-x-4">
                        {% if current_user.is_authenticated %}
                            <p>Welcome, {{ current_user.username }}!</p>
                            <a href="/logout" class="text-white">Logout</a>
                        {% else %}
                            <a href="/register" class="text-white">Register</a>
                            <a href="/login" class="text-white">Login</a>
                        {% endif %}
                    </nav>
                    <button class="md:hidden text-white">
                        <!-- Add a menu icon or button for mobile screens here -->
                    </button>
                </div>
            </div>
        </header>
        

        <main class="container mx-auto mt-10">
            {% block content %}{% endblock %}
        </main>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxTyWZ7Xo1dP6PhKmX4MKeRz7dt571dQ0&libraries=places"></script>
    </body>
</html>
