{% extends 'base.html' %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} mt-4">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container mx-auto my-8 px-4">
        <h1 class="text-4xl mb-4 font-bold">Dashboard</h1>
        <h2 class="text-2xl mb-6 font-semibold">Welcome, {{ current_user.username }}!</h2>
        {% set projects_list = projects|list %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-8">
            <div class="bg-white shadow-lg rounded-lg p-4">
                <h3 class="text-xl mb-2 font-semibold mb-10">Stats</h3>
                <div class="grid grid-cols-3">
                    <div class="space-y-2">
                        <p class="text-6xl text-center">{{ projects_list|length }}</p>
                        <p class="text-sm text-center text-gray-500">Total Projects</p>
                    </div>
                    <div class="">
                        <p class="text-6xl text-center">3</p>
                        <p class="text-sm text-center text-gray-500">High Risk Profiles</p>
                    </div>
                    <div class="">
                        <p class="text-6xl text-center">5</p>
                        <p class="text-sm text-center text-gray-500">Medium Risk Profiles</p>
                    </div>
                </div>
            </div>
            <div class="bg-white shadow-lg rounded-lg p-4">
                <h3 class="text-xl mb-2 font-semibold">Create a new project</h3>
                <form action="/create_project" method="post" class="mb-8">
                    <input type="text" name="project_name" id="project_name" placeholder="Project Name" class="w-full mb-4 p-2 border rounded" required>
                    <input type="text" name="address" id="address" placeholder="Address" class="w-full mb-4 p-2 border rounded" required>
                    <button type="submit" class="bg-blue-500 text-white py-2 px-2 rounded">Create Project</button>
                </form>
            </div>
        </div>

        <h2 class="text-2xl mb-6 font-semibold">Your projects</h2>
        {% if projects_list|length > 0 %}
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                {% for project in projects_list %}
                    <div class="bg-white shadow-lg rounded-lg p-4">
                        <a href="{{ url_for('project', project_id=project._id) }}" class="text-blue-500 hover:text-blue-700">{{ project.name }}</a>
                        <form action="/delete_project" method="post" class="inline">
                            <input type="hidden" name="project_id" value="{{ project._id }}">
                            <button type="submit" class="bg-red-500 text-white py-1 px-2 rounded float-right">Delete</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            <p>You haven't created any projects yet.</p>
        {% endif %}
    </div>
    {% block extra_js %}
        <script src="/static/js/addressAutocomplete.js"></script>
    {% endblock %}
{% endblock %}




