{% extends 'base.html' %}

{% block content %}
<body class="h-screen w-full flex" style="background-image: url('/static/img/hero-img.jpg'); background-size: cover; background-position: center;">
    <div class="text-center mt-40">
        <h1 class="text-8xl text-white font-bold mb-3">Horizon</h1>
        <h2 class="text-xl text-white font-semibold mb-6">Your Climate Risk Assessment Tool</h2>
        <a href="/register" class="inline-block  bg-blue-800 text-white font-bold py-2 px-4 rounded hover:bg-blue-900 transition duration-300">Register</a>
        <a href="/login" class="inline-block bg-blue-800 text-white font-bold py-2 px-4 rounded hover:bg-blue-900 transition duration-300">Login</a>
    </div>
</body>
{% endblock %}
