{% extends 'base.html' %}

{% block content %}
    <div class="w-full max-w-xl mx-auto mt-8 p-4 md:p-6 bg-white rounded shadow">
        <h1 class="text-2xl mb-6">Login</h1>
        <form action="/login" method="post">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mt-4">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            
            <label for="email" class="block mb-2">Email:</label>
            <input type="email" name="email" id="email" class="w-full mb-4 p-2 border border-gray-300 rounded" required>

            <label for="password" class="block mb-2">Password:</label>
            <input type="password" name="password" id="password" class="w-full mb-4 p-2 border border-gray-300 rounded" required>

            <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded">Log in</button>
        </form>
        <p class="mt-4 text-sm md:text-base">Don't have an account? <a href="/register" class="text-blue-500">Register</a></p>
    </div>
{% endblock %}

